body{
 background-color: #000000;
 color: $white;
}

table{
  color: #000000;
  width: 100%;
  border:0;
  tr{
    td {
      padding: 2px 10px;
      text-align: left;
    }
  }
  & tr:first-child{
    background-color: #d3d3d3;
  }
}
.in-the-grave {
  background-color: $red;
}
.last-week {
  background-color: $red;
}
.yesterday {
  background-color: $usabi;
}
.today {
  background-color: $blue;
}
.tomorrow {
  background-color: $orange;
}
.this-week {
  background-color: $orange;
}
.in-the-future {
  background-color: $white;
}
.date {
  background-color: $green;
  font-size: 18px;
  border: 1px solid #000000;
  text-align: left;
  td {
    text-align: right;
  }

}

